<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
		</handlers>
		<httpPlatform
			processPath="%JAVA_HOME%\\bin\\java.exe"
			arguments="-jar %HOME%\\site\\wwwroot\\app.jar --server.port=%HTTP_PLATFORM_PORT%"
			stdoutLogEnabled="true"
			stdoutLogFile="%HOME%\\LogFiles\\java.log" />
	</system.webServer>
</configuration> 